<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VibhuGandikota.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D23AA2CC1CCC11AB00B78CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23AA2E01CCC11AB00B78CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D23AA2EB1CCC11AB00B78CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
